<div id="eshl-live" class="page-layout simple right-sidenav" layout="row">
  <div class="center" flex ms-scroll>
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-around center">
      <md-divider flex="10"></md-divider>
      <div flex="50" layout="row" layout-align="start center" >
        <img src="assets/images/bos.png" width="10%" height="10%" style="min-width:40px;"/>
        <div layout="column">
          <span class="headerFont" >BOS Panel</span>
          <span class="subHeaderFont" style="margin-top: -5px; margin-left: 1px">Building Operating System GUI</span>
        </div>
      </div>

      <div flex="40" layout="row" layout-align="space-around center" >
        <div flex="40" id="weather" layout="column" layout-align="space-around center" class="timeFont"></div>
        <div flex="40" layout="column" layout-align="end center" style="margin-left: 0%">
          <span id="time" class="md-caption timeFont">{{getDate | date:'HH:mm:ss'}}</span>
          <span id="week" class="md-caption timeFont" style="padding-top: 5%">{{getDate | date:'EEE'}}</span>
          <span id="date" class="md-caption timeFont" style="padding-top: 5%">{{getDate | date:'dd/MM/yyyy'}}</span>
        </div>
        <div flex="20" class="toolbar" style="margin-left: 0%">
          <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('sidenav')" hide-gt-md
                     aria-label="Toggle sidenav">
            <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
          </md-button>
        </div>
      </div>
    </div>

    <!-- CONTENT -->
    <div class="content">
      <md-tabs md-dynamic-height>
        <md-tab label="Device Image Library" >
          <md-button class="md-accent" onclick="document.getElementById('deviceImageUpload').click();return false">Add A New Image</md-button>
          <input type="file" id="deviceImageUpload" multiple onclick="angular.element(this).scope().deviceImageUploadClick(this)" onchange="angular.element(this).scope().deviceImageChanged(this)" style="visibility: hidden">
          <br>

          <md-button aria-label="md-button" ng-repeat="image in vm.images" ng-click="vm.removeImage(image)" >
            <div>
              <img src={{image.url}} width="40px" height="40px" align="center"  />
            </div>
            <div>
              <span>{{image.name}}</span>
            </div>
            <md-tooltip>
              Click to Remove This Image
            </md-tooltip>
          </md-button>

        </md-tab>
      </md-tabs>
    </div>

  </div>

</div>


<script src="assets/lib/jquery.simpleWeather.js"></script>
<script src="assets/lib/weather.js"></script>


