<md-dialog aria-label="Devices" flex="50">
  <form ng-cloak>
    <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
        <h2>{{'DEVICES'|translate}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="assets/images/svg/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

        <md-select name="type" ng-model="selectedFloor" style="margin-top: -30px" required ng-change="changeFloor(selectedFloor)" aria-label="select">
          <md-option ng-repeat="floor in floors" value="{{floor.name}}" ng-selected="$first">{{floor.name}}</md-option>
        </md-select>

        <div flex-xs flex="50">
          <md-checkbox aria-label="Select All"
                       ng-checked="isAllLocationsChecked()"
                       md-indeterminate="isAllLocationsIndeterminate()"
                       ng-click="toggleAllLocations()">
            <span ng-if="isAllLocationsChecked()">{{'DWELLERS.UN'|translate}}-</span>{{'DWELLERS.SELECT_ALL'|translate}}
          </md-checkbox>
        </div>

        <div class="device-container">

          <div class="expandcollapse-item" ng-repeat="location in rooms" ng-if="location.devices.length>0">
            <div ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
              <table width="100%">
                <tr>
                  <td width="50%"><p>{{location.name}}</p></td>
                  <td width="50%"><p style="float: right">{{location.devices.length}} ( {{location.selectedDevices.length}} )</p></td>
                </tr>
              </table>
            </div>

            <div class="slideDown" ng-hide="active">
              <div class="expand-collapse-content" layout="row"  layout-wrap>
                <div layout="column" layout-align="start" flex>

                  <md-checkbox aria-label="Select All"
                               ng-checked="isChecked(location)"
                               md-indeterminate="isIndeterminate(location)"
                               ng-click="toggleAll(location)">
                    <span ng-if="isChecked(location)">{{'DWELLERS.UN'|translate}}-</span>{{'DWELLERS.SELECT_ALL'|translate}}
                  </md-checkbox>

                  <div ng-repeat="device in devices" ng-if="device.floor===selectedFloor && device.room === location.name "  >

                    <md-checkbox ng-checked="exists(device.id, location.selectedDevices)" ng-disabled="checkDisabled(device.id)" ng-click="toggle(device.id, location.selectedDevices)" >
                      <div layout="row" layout-align="start center">
                        <md-button class="md-icon-button" aria-label="md-button"  ng-click="vm.showDeviceDetails(device)" ng-disabled="checkDisabled(device.id)">
                          <div >
                            <img src={{device.image}} width="40px" height="40px" align="center"  />
                          </div>
                        </md-button>

                          <div style="font-weight: bold;font-size: medium;font-family: sans-serif">{{device.id}}</div>

                      </div>
                    </md-checkbox>

                  </div>


                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">

      <span flex></span>
      <md-button ng-click="cancel()" class="md-accent">
        {{'DWELLERS.CANCEL'|translate}}
      </md-button>
      <md-button ng-click="save()" class="md-accent">
        {{'DWELLERS.SAVE'|translate}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
