
<div id="eshl-live" class="page-layout simple right-sidenav" layout="row">
  <div class="center" layout="column" flex ms-scroll>
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-around center">
        <md-divider flex="10"></md-divider>
        <div flex="50" layout="row" layout-align="start center" >
          <img src="assets/images/bos.png" width="10%" height="10%" style="min-width:40px;"/>
          <div layout="column">
            <span class="headerFont" >BOS Panel</span>
            <span class="subHeaderFont" style="margin-top: -5px; margin-left: 1px">Building Operating System GUI</span>
          </div>
        </div>

        <div flex="40" layout="row" layout-align="space-around center" >
          <!--<div flex="40" id="weather1" layout="column" layout-align="space-around center" class="timeFont">
            <img src="http://openweathermap.org/img/w/{{vm.sharedWeatherData['current'][0]['icon']}}.png" style="width: 50px;height: 50px;"/>
            <div>{{vm.sharedWeatherData['current'][0]['temp']|| 'n.a'}} &deg;C</div>
          </div>-->
          <div flex="40" id="weather" layout="column" layout-align="space-around center" class="timeFont"></div>
          <div flex="40" layout="column" layout-align="end center" style="margin-left: 0%">
            <span id="time" class="md-caption timeFont">{{getDate | date:'HH:mm:ss'}}</span>
            <span id="week" class="md-caption timeFont" style="padding-top: 5%">{{getDate | date:'EEE'}}</span>
            <span id="date" class="md-caption timeFont" style="padding-top: 5%">{{getDate | date:'dd/MM/yyyy'}}</span>
          </div>
          <div flex="20" class="toolbar" style="margin-left: 0%">
            <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('sidenav')" hide-gt-md
                       aria-label="Toggle sidenav">
              <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
            </md-button>
          </div>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="content" flex>
      <md-tabs layout-fill>
        <md-tab label="{{'ENERGY_OVERVIEW.ENERGY_OVERVIEW_NAV'|translate}}" layout-fill>
          <md-tab-content layout-fill>
          <!-- WIDGET GROUP -->
          <div class="widget-group" layout="column" layout-fill flex>
            <!--<h2 style="text-align: center">In-house Hybrid Energy Flows</h2>-->
            <div gridster="gridsterOpts" class="treeMapHeatCold" layout="row" >
              <ul>

                <li id="parent_{{item.type}}" gridster-item="item" ng-repeat="item in vm.items1" ng-if="item.type !== ''">
                  <p style="margin-top: -15px; height: 1px; color: transparent;cursor:move">mouse put here to drag</p>
                  <div style="min-height: 30px;min-width: 30px" id={{item.type}}></div>
                </li>
                <!--<li id="lineChartContainer" gridster-item="item" ng-repeat="item in vm.items1" ng-if="item.type === ''">
                  <p style="margin-top: -15px; height: 1px; color: transparent;cursor:move">mouse put here to drag</p>

                      <div class="pb-16" layout="row" layout-align="space-between center" >
                        <div class="md-title">{{vm.widget1.title}}</div>
                      </div>

                      <div container-id ="lineChartContainer"  dual-yaxis-line-chart power-upper-limit-data="{{vm.powerUpperLimitData}}" power-lower-limit-data="{{vm.powerLowerLimitData}}" electricity-price-data="{{vm.electricityPrices}}" pv-feedin-price-data="{{vm.pvFeedinPrices}}" chp-feedin-price-data="{{vm.chpFeedinPrices}}">
                        <table align="right">
                          <tr>
                            <td><hr style="width:40px; height:3px; background-color:#9b59b6" /></td>
                            <td><span>Power Upper Limit&nbsp;</span></td>
                            <td><hr style="width:40px; height:3px; background-color:#cc99ff" /></td>
                            <td><span>Power Lower Limit&nbsp;</span></td>
                            <td><hr style="width:40px; height:3px; background-color:#009999" /></td>
                            <td><span>External Power Price&nbsp;</span></td>
                            <td><hr style="width:40px; height:3px; background-color:#00cc66" /></td>
                            <td><span>PV Feed-in Price&nbsp;</span></td>
                            <td><hr style="width:40px; height:3px; background-color:#33cccc" /></td>
                            <td><span>CHP Feed-in Price&nbsp;</span></td>
                          </tr>
                        </table>
                      </div>

                </li>-->
              </ul>
            </div>



            <div id="lineChartContainer" layout="column" flex>
              <md-card>
                <div class="pb-16 md-padding" layout="row" layout-align="space-between center" >
                  <div class="md-title">{{vm.widget1.title}}</div>
                </div>
            <div container-id ="lineChartContainer" dual-yaxis-line-chart y1-label="{{'ENERGY_OVERVIEW.LOAD_LIMIT'|translate}}" y2-label="{{'ENERGY_OVERVIEW.TARIFF'|translate}}"
                 power-lower-limit-label="{{'ENERGY_OVERVIEW.POWER_LOWER_LIMIT'|translate}}" power-upper-limit-label="{{'ENERGY_OVERVIEW.POWER_UPPER_LIMIT'|translate}}"
                 electricity-price-label="{{'ENERGY_OVERVIEW.ELECTRICITY_PRICE'|translate}}" chp-feedin-price-label="{{'ENERGY_OVERVIEW.CHP_FEED_IN_PRICE'|translate}}"
                 pv-feedin-price-label="{{'ENERGY_OVERVIEW.PV_FEED_IN_PRICE'|translate}}"
                 power-upper-limit-data="{{vm.powerUpperLimitData}}" power-lower-limit-data="{{vm.powerLowerLimitData}}" electricity-price-data="{{vm.electricityPrices}}"
                 pv-feedin-price-data="{{vm.pvFeedinPrices}}" chp-feedin-price-data="{{vm.chpFeedinPrices}}">
              <table align="right">
                <tr>
                  <td><hr style="width:40px; height:3px; background-color:#9b59b6" /></td>
                  <td><span>{{'ENERGY_OVERVIEW.POWER_UPPER_LIMIT'|translate}}&nbsp;</span></td>
                  <td><hr style="width:40px; height:3px; background-color:#cc99ff" /></td>
                  <td><span>{{'ENERGY_OVERVIEW.POWER_LOWER_LIMIT'|translate}}&nbsp;</span></td>
                  <td><hr style="width:40px; height:3px; background-color:#009999" /></td>
                  <td><span>{{'ENERGY_OVERVIEW.EXTERNAL_POWER_PRICE'|translate}}&nbsp;</span></td>
                  <td><hr style="width:40px; height:3px; background-color:#00cc66" /></td>
                  <td><span>{{'ENERGY_OVERVIEW.PV_FEED_IN_PRICE'|translate}}&nbsp;</span></td>
                  <td><hr style="width:40px; height:3px; background-color:#33cccc" /></td>
                  <td><span>{{'ENERGY_OVERVIEW.CHP_FEED_IN_PRICE'|translate}}&nbsp;</span></td>
                </tr>
              </table>
            </div>
            </md-card>
            </div>


          </div>

          <div tree-Map-Diagram-C container-id ="powerConsumption" parent-container-id="parent_powerConsumption" light-states="vm.lightStates" user="{{vm.dweller.name}}" language="{{vm.currentLanuage}}" data="{{vm.arrayPowerConsumption}}" generate-json-from-java-obj="vm.generateJsonFromJavaObj(arg1,arg2)" ></div>
          <div tree-Map-Diagram-C container-id ="powerGeneration" parent-container-id="parent_powerGeneration" user="{{vm.dweller.name}}" language="{{vm.currentLanuage}}"   data="{{vm.arrayPowerGeneration}}" generate-json-from-java-obj="vm.generateJsonFromJavaObj(arg1,arg2)" ></div>
          <div tree-Map-Diagram-C container-id ="heatGeneration" parent-container-id="parent_heatGeneration" user="{{vm.dweller.name}}" language="{{vm.currentLanuage}}"  data="{{vm.arrayHeatGeneration}}" generate-json-from-java-obj="vm.generateJsonFromJavaObj(arg1,arg2)" ></div>
          <div tree-Map-Diagram-C container-id ="coldGeneration" parent-container-id="parent_coldGeneration" user="{{vm.dweller.name}}" language="{{vm.currentLanuage}}"   data="{{vm.arrayColdGeneration}}" generate-json-from-java-obj="vm.generateJsonFromJavaObj(arg1,arg2)" ></div>
          <div tree-Map-Diagram-C container-id ="gasConsumption" parent-container-id="parent_gasConsumption" user="{{vm.dweller.name}}" language="{{vm.currentLanuage}}"  data="{{vm.arrayGasConsumption}}" generate-json-from-java-obj="vm.generateJsonFromJavaObj(arg1,arg2)" ></div>

          <div power-price-indicator price="{{vm.currentPvFeedinPrice}}" container-id ="pvFeedinPrice" parent-container-id ="parent_pvFeedinPrice" frame-color="#6E6E6E" type="PV Feed-in" label="{{'ENERGY_OVERVIEW.PV_FEED_IN'|translate}}" unit="ct/kWh" max-value=20 min-value=0></div>
          <div power-price-indicator price="{{vm.currentChpFeedinPrice}}" container-id ="chpFeedinPrice" parent-container-id ="parent_chpFeedinPrice" frame-color="#6E6E6E" type="CHP Feed-in" label="{{'ENERGY_OVERVIEW.CHP_FEED_IN'|translate}}" unit="ct/kWh" max-value=20 min-value=0></div>
          <div power-price-indicator price="{{vm.currentElectricityPrice}}" container-id ="electricityPrice" parent-container-id ="parent_electricityPrice" frame-color="green" type="External Power" label="{{'ENERGY_OVERVIEW.ELECTRICITY_PRICE'|translate}}" unit="ct/kWh" max-value=50 min-value=0></div>
          <div power-price-indicator price="{{vm.currentGasPrice}}" container-id ="gasPrice" parent-container-id ="parent_gasPrice" frame-color="#6E6E6E" type="Gas" label="{{'ENERGY_OVERVIEW.GAS_PRICE'|translate}}" unit="ct/kWh" max-value=20 min-value=0></div>
          <div power-price-indicator price="{{vm.currentVoltage}}" container-id ="voltage" parent-container-id ="parent_voltage" frame-color="#6E6E6E" type="Voltage" label="{{'ENERGY_OVERVIEW.VOLTAGE'|translate}}" unit="V" max-value=240 min-value=200></div>
          <div power-price-indicator price="{{vm.currentFrequency}}" container-id ="frequency" parent-container-id ="parent_frequency" frame-color="#6E6E6E" type="Frequency" label="{{'ENERGY_OVERVIEW.FREQUENCY'|translate}}" unit="Hz" max-value=52 min-value=48></div>
       </md-tab-content>
        </md-tab>

      </md-tabs>
    </div>
  </div>

  <!-- SIDENAV -->
  <md-sidenav class="sidenav md-sidenav-right" md-is-locked-open="$mdMedia('gt-md')" md-component-id="sidenav"
              ms-scroll ms-sidenav-helper>
    <!-- WIDGET GROUP -->
    <div class="widget-group" layout="column" layout-fill>

      <ms-widget flippable="false" class="sidenav-widget">
        <ms-widget-front>
          <div class="treeMapHeatCold p-16 pb-24" layout="column" layout-align="center center">
            <div class="font-size-18 secondary-text" style="margin-bottom: 15px">

              {{'ENERGY_OVERVIEW.ENERGY_PRICE_OVERVIEW'|translate}}
            </div>
            <div layout="row" layout-align="space-around center">

              <div id="parent_electricityPrice" style="width: 45%;display: block;height: auto">
                <div style="min-height: 30px;min-width: 30px" id="electricityPrice"></div>
              </div>
              <div id="parent_gasPrice" style="width: 45%;display: block;height: auto">
                <div style="min-height: 30px;min-width: 30px" id="gasPrice"></div>
              </div>

            </div>
            <div layout="row" layout-align="space-around center">
              <div id="parent_pvFeedinPrice" style="width: 45%; ">
                <div style="min-height: 30px;min-width: 30px" id="pvFeedinPrice"></div>
              </div>
              <div id="parent_chpFeedinPrice" style="width: 45%; ">
                <div style="min-height: 30px;min-width: 30px" id="chpFeedinPrice"></div>
              </div>
            </div>
          <!--  <div layout="row" layout-align="center center">
              <div id="parent_voltage" style="width: 45%; ">
                <div style="min-height: 30px;min-width: 30px" id="voltage"></div>
              </div>
              <div id="parent_frequency" style="width: 45%; ">
                <div style="min-height: 30px;min-width: 30px" id="frequency"></div>
              </div>
            </div>-->
          </div>
          <md-divider style="margin-top: -20px"></md-divider>

        </ms-widget-front>
      </ms-widget>

      <ms-widget flippable="false" class="sidenav-widget">
        <ms-widget-front>
          <div class="treeMapHeatCold p-16 pb-24" layout="column" layout-align="center center">
            <div class="font-size-18 secondary-text" style="margin-bottom: 15px">
              {{'ENERGY_OVERVIEW.TECHNICAL_PARAMETERS'|translate}}
            </div>
            <div layout="row" layout-align="space-around center">
              <div id="parent_voltage" style="width: 45%; ">
                <div style="min-height: 30px;min-width: 30px" id="voltage"></div>
              </div>
              <div id="parent_frequency" style="width: 45%; ">
                <div style="min-height: 30px;min-width: 30px" id="frequency"></div>
              </div>
            </div>

            </div>
          <md-divider style="margin-top: -20px"></md-divider>
        </ms-widget-front>
      </ms-widget>

      <!--<ms-widget flippable="false" class="sidenav-widget">
        <ms-widget-front>
          <div class="p-16 pb-24"  layout="column" layout-align="center center">
            <div class="progress-wrapper" style="width: 50%;height: 50%" >
              <div class="progress" layout="column" layout-align="center center"><div class="font-size-40 secondary-text">{{vm.currentLoad}}</div><div class="font-size-15 secondary-text" style="margin-top: -5%"><b>W</b></div></div>
              <round-progress
                max="vm.powerUpperLimit"
                current="vm.currentLoad"
                color="{{vm.loadRoundProgressColor}}"
                bgcolor="#eaeaea"
                radius="50"
                stroke="8"
                semi="false"
                rounded="true"
                clockwise="true"
                responsive="true"
                duration="800"
                animation="easeInOutQuart"
                animation-delay="0">
              </round-progress>

            </div>
            <div class="font-size-15 secondary-text">Load Limit: {{vm.loadLimit}} W</div>
          </div>
          <md-divider></md-divider>
        </ms-widget-front>
      </ms-widget>-->

      <ms-widget flippable="false" class="sidenav-widget">

        <ms-widget-front>
          <div class="p-16 pb-24" layout="column" layout-align="space-around center" >
            <div class="font-size-18 secondary-text">
              {{'ENERGY_OVERVIEW.CURRENT_ENERGY_FLOWS'|translate}}
            </div>
            <div layout="row" layout-align="space-around center" style="margin-top: 10px">

           <!--   <img id="smartHome" ng-src="assets\images\energy-flows\Hause2.png" style="width:110px;height:auto;margin-left: -30px;margin-right: -20px" class="md-avatar" />
              <div dynamic-arrow direction="{{vm.buildingEnergyFlowDirection}}" color="{{vm.buildingEnergyFlowColor}}"></div>
              <img id="powerGrid" ng-src="assets\images\energy-flows\PowerGrid2.png" style="width:70px;height:auto" class="md-avatar" />-->
              <div layout="column" layout-align="center center" style="margin-top: -10px;" flex="40">
                <img id="smartHome" ng-src="assets\images\energy-flows\Hause2.png" style="width:110px;height:auto;" class="md-avatar" />
                <div style="font-size: 12px; font-weight: 100; color: grey; margin-top: -15px">My Building</div>
              </div>
              <div dynamic-arrow direction="{{vm.buildingEnergyFlowDirection}}" color="{{vm.buildingEnergyFlowColor}}"></div>
              <div layout="column" layout-align="center center" style="margin-left: -25px" flex="30">
                <img id="powerGrid" ng-src="assets\images\energy-flows\PowerGrid2.png" style="width:70px;height:auto" class="md-avatar" />
                <div style="font-size: 12px; font-weight: 100; color: grey">Power Grid</div>
              </div>



            </div>
          </div>
          <md-divider style="margin-top: -15px; margin-bottom: 10px"></md-divider>
        </ms-widget-front>
      </ms-widget>

      <ms-widget flippable="false" class="sidenav-widget" flex >

        <ms-widget-front layout-fill >
          <div   layout="column" layout-align="center center" layout-fill>
            <div class="font-size-18 secondary-text">
              {{'ENERGY_OVERVIEW.BUILDING_POWER_USE'|translate}}
            </div>
           <!-- <div id="div_RealtimePowerUsage" flex >-->
              <div id="realTimePowerUsage" realtime-power-usage-bar-chart flex layout-fill style="width: 90%"  container-id="realTimePowerUsage" data="{{vm.powerUsage}}" con-label="{{'ENERGY_OVERVIEW.CON_LABEL'|translate}}" gen-label="{{'ENERGY_OVERVIEW.GEN_LABEL'|translate}}" net-label="{{'ENERGY_OVERVIEW.NET_LABEL'|translate}}"></div>

            <!--</div>-->

          </div>

        </ms-widget-front>
      </ms-widget>
    </div>

  </md-sidenav>

</div>
<script src="assets/lib/jquery.simpleWeather.js"></script>
<script src="assets/lib/weather.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script>

  /*var width=$("#tariffAndLoadLimitChartContainer").width();
  $("#tariffAndLoadLimitChartContainer").height(width * 0.8);*/

  //vm.sendToServer('get_Running_Devices');

</script>

<!--<button ng-click="sendToServer('start')">Start</button>
<button ng-click="sendToServer('stop')">Stop!</button><br/><br/>
<textarea id="log" ng-model="vm.value"></textarea>-->
