.gridster .gridster-item {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: #004756;
  background: #ffffff;
  padding: 10px;
}


/*styles for MapTreep*/

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

rect.parent {
  pointer-events: all;
}

.children:hover rect.child,
.grandparent:hover rect {
  fill: #aaa;
}

.textdiv { /* text in the boxes */
  font-size: medium;
  padding: 5px;
  font-family: sans-serif;
}


.footer {
  z-index: 1;
  display: block;
  font-size: 26px;
  font-weight: 200;
  text-shadow: 0 1px 0 #fff;
}

svg {
  overflow: hidden;
}

rect {
  pointer-events: all;
  cursor: pointer;
  stroke: #EEEEEE;
}

.node {
  border: solid 1px #e6e5e5;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 4px;
  z-index:10;
}

.tooltip {
  position: absolute;
  border:1px solid;
  margin:10px;
  padding: 6px;
  opacity: 0.9;
  z-index: 1000;
}

.wrap {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  margin:0 auto;
  max-width:1420px;
  overflow:hidden;
  padding:0 50px;
  position:relative;
  width:100%;
}
.wrap:before {
  content:'';
  display:inline-block;
  height:100%;
  margin-right:-0.25em;
  vertical-align:middle;
}


.name {
  float:left;
  font-size:4em;
  font-weight:100;
  position:absolute;
  width:42%;
}
.img {
  float:right;
  margin-bottom:5%;
  margin-top:5%;
  width:30%;
}


div.layout
{
  width:100%;
  height:100%;
  text-align: center;
  display:inline-block;
}
#view {
  width:100%;
  height:80%;
}

div.treeMapHeatCold
{
  width:100%;
  height:100%;
  display:inline-block;
  text-align: center;
}

#heatReservoir {
  width:100%;
  height:100%;
  border: 1px dotted silver;
  display:inline-block;
  text-align: left;
}

text {
  pointer-events: none;
}

.grandparent text { /* header text */
  font-weight: bold;
  font-size: medium;
  font-family: sans-serif;
}

rect {
  fill: none;
  stroke: #fff;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

rect.parent {
  pointer-events: all;
}

/*styles for radial progress chart*/

.progress-wrapper{
  position: relative;
  margin:20px auto;

}
.progress{
  position: absolute;
  color: #bbb;
  width: 100%;
  text-align: center !important;
  top: 20%;
}


/*styles for bar chart*/
.chart rect {
  stroke: white;
  fill-opacity: .6;
  fill: steelblue;

}
.bar.positive {
  fill: steelblue;
}

.bar.negative {
  fill: brown;
}

/*.axis text {
  //font: 10px sans-serif;
  font-family: sans-serif;
  fill: grey;
  font-size: 11px;
}

.axis path, .axis line {
  fill: none;
  //stroke: #BDC3C7;
  shape-rendering: crispEdges;
  //stroke-width: 2px;
  //fill-opacity: .2;
}*/

.md-table-thumbs {
  max-width: 104px;
  width: 50px;
  padding: 5px 0px 5px 0px;
}

.md-table-thumbs div {
  overflow:hidden;
  width: 50px;
  height:50px;
  border-radius:25px;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.2);
  background-size: cover;
  box-shadow: 0 8px 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 8px 10px rgba(0,0,0,.1);
}


#pvFeedinPrice g.arc {
  fill: steelblue;
}
#chpFeedinPrice g.arc {
  fill: steelblue;
}
#electricityPrice g.arc {
  fill: steelblue;
}
#gasPrice g.arc {
  fill: steelblue;
}
#voltage g.arc {
  fill: steelblue;
}
#frequency g.arc {
  fill: steelblue;
}

#pvFeedinPrice g.pointer {
  fill: #e85116;
  stroke: #b64011;
}
#chpFeedinPrice g.pointer {
  fill: #e85116;
  stroke: #b64011;
}
#electricityPrice g.pointer {
  fill: #e85116;
  stroke: #b64011;
}
#gasPrice g.pointer {
  fill: #e85116;
  stroke: #b64011;
}
#voltage g.pointer {
  fill: #e85116;
  stroke: #b64011;
}
#frequency g.pointer {
  fill: #e85116;
  stroke: #b64011;
}

#pvFeedinPrice g.label text {
    text-anchor: middle;
    font-size: 14px;
    font-weight: bold;
    fill: #666;
  }
#electricityPrice g.label text {
  text-anchor: middle;
  font-size: 14px;
  font-weight: bold;
  fill: #666;
}
#gasPrice g.label text {
  text-anchor: middle;
  font-size: 14px;
  font-weight: bold;
  fill: #666;
}
#chpFeedinPrice g.label text {
  text-anchor: middle;
  font-size: 14px;
  font-weight: bold;
  fill: #666;
}
#voltage g.label text {
  text-anchor: middle;
  font-size: 14px;
  font-weight: bold;
  fill: #666;
}
#frequency g.label text {
  text-anchor: middle;
  font-size: 14px;
  font-weight: bold;
  fill: #666;
}
