<div id="eshl-live" class="page-layout simple right-sidenav" layout="row">
  <div class="center" flex ms-scroll>
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-around center">
      <md-divider flex="10"></md-divider>
      <div flex="50" layout="row" layout-align="start center" >
        <img src="assets/images/bos.png" width="10%" height="10%" style="min-width:40px;"/>
        <div layout="column">
          <span class="headerFont" >BOS Panel</span>
          <small class="subHeaderFont" style="margin-top: -5px; margin-left: 1px">Building Operating System GUI</small>
        </div>
      </div>

      <div flex="40" layout="row" layout-align="space-around center" >
        <div flex="40" id="weather" layout="column" layout-align="space-around center" class="timeFont"></div>
        <div flex="40" layout="column" layout-align="end center" style="margin-left: 0%">
          <span id="time" class="md-caption timeFont">{{getDate | date:'HH:mm:ss'}}</span>
          <span id="week" class="md-caption timeFont" style="padding-top: 5%">{{getDate | date:'EEE'}}</span>
          <span id="date" class="md-caption timeFont" style="padding-top: 5%">{{getDate | date:'dd/MM/yyyy'}}</span>
        </div>
        <div flex="20" class="toolbar" style="margin-left: 0%">
          <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('sidenav')" hide-gt-md
                     aria-label="Toggle sidenav">
            <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
          </md-button>
        </div>
      </div>
    </div>


    <!-- CONTENT -->
    <div class="content md-subhead">
      <md-tabs md-dynamic-height md-selected="vm.selectedIndex">

        <md-tab ng-repeat="scene in vm.scenes"
                label="{{'SCENES.SCENE'|translate}} {{$index+1}}: {{scene.name}}">

          <div class="md-padding ">
            <div class="content fullpage-datatable" layout="column" flex>

              <table class="dataTable row-border hover md-subhead" align="center">
                <thead >
                <tr style="background-color: rgba(0, 0, 0, 0.04)">

                  <th class="secondary-text" width="30">
                    <div class="table-header">
                      <span class="column-title"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                    </div>
                  </th>
                  <th class="secondary-text">
                    <div class="table-header">
                      <span class="column-title " translate="SCENES.DEVICE">Device</span>
                    </div>
                  </th>
                  <th class="secondary-text">
                    <div class="table-header">
                      <span class="column-title" translate="SCENES.LOCATION">Location</span>
                    </div>
                  </th>
                  <th class="secondary-text">
                    <div class="table-header">
                      <span class="column-title" translate="SCENES.AVAILABLE_ACTIONS">Available Actions</span>
                    </div>
                  </th>
                  <th class="secondary-text">
                    <div class="table-header">
                      <span class="column-title" translate="SCENES.TARGET_STATE">Target State</span>
                    </div>
                  </th>
                  <th class="secondary-text">
                    <div class="table-header">
                      <span class="column-title">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                    </div>
                  </th>
                  <th class="secondary-text">
                    <div class="table-header">
                      <md-button class="md-accent md-raised" aria-label="Use Android" ng-disabled="vm.checkScene(scene)" ng-click="vm.triggerScene(scene)">
                        {{'SCENES.TRIGGER_THIS_SCENE'|translate}}
                      </md-button>
                      <md-button class="md-fab md-accent md-mini" aria-label="Use Android" ng-click="vm.removeScene($event,scene)">
                        <md-icon md-font-icon="icon-delete" ></md-icon>
                        <md-tooltip>{{'SCENES.REMOVE_THIS_SCENE'|translate}}</md-tooltip>
                      </md-button>
                      <md-button class="md-fab md-accent md-mini" aria-label="Use Android" ng-click="vm.addScene($event)">
                        <md-icon md-font-icon="icon-plus" ></md-icon>
                        <md-tooltip>{{'SCENES.ADD_A_NEW_SCENE'|translate}}</md-tooltip>
                      </md-button>
                    </div>
                  </th>
                </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="deviceInScene in scene.devicesInScene" style="text-align: left" class="list-cards">
                    <td><img ng-src="{{deviceInScene.image}}" style="width: 30px" class="md-avatar" /></td>
                    <td>{{deviceInScene.name}}</td>
                    <td>{{deviceInScene.location}}</td>
                    <td><div ng-style="action.widget.type=='Button'&& {'display': 'inline-block','margin-left':'-7px'}" ng-repeat="action in deviceInScene.actions" ng-include="action.widget.template" ng-style="action.widget.type=='Switch' && {'marginLeft':'6px'}"></div></td>
                    <td><div ng-style="deviceInScene.targetState.indexOf('???')>=0 && {'color':'red'}"><span ng-bind-html="deviceInScene.targetState"|htmlCode></span></div></td>
                    <td>
                      <md-button class="md-accent md-mini" aria-label="Use Android" ng-click="vm.removeDeviceFromScene($event,scene,deviceInScene)">
                        <md-icon md-font-icon="icon-delete" ></md-icon>
                        <md-tooltip>{{'SCENES.REMOVE_THIS_DEVICE'|translate}}</md-tooltip>
                      </md-button>
                    </td>
                  </tr>
                <tr style="background-color: rgba(0, 0, 0, 0.05)">
                  <td colspan="8">
                    <!--<div class="ms-sb-add-card-button" layout="row" layout-align="start center" ng-hide="formActive">
                      <md-button class="md-fab md-accent md-mini" aria-label="Use Android">
                        <md-icon md-font-icon="icon-plus" ></md-icon>
                      </md-button>
                      <a class="md-accent" ng-click=""><h3>Add a new device</h3></a>
                    </div>-->
                    <add-device-to-scene devices="vm.devices" scene="scene"></add-device-to-scene>
                  </td>
                </tr>
                </tbody>
                </table>

              </div>
            </div>

        </md-tab>

      </md-tabs>
      <!--<md-button ng-if="vm.scenes.length==0" class="md-fab md-accent md-mini" aria-label="Use Android">
        <md-icon md-font-icon="icon-plus" ></md-icon>
        Add a new scene
      </md-button>-->
      <div ng-if="vm.scenes.length==0" layout="row" layout-align="start center" >
        <md-button class="md-fab md-accent md-mini" aria-label="Use Android" ng-click="vm.addScene($event)">
          <md-icon class=" md-accent" md-font-icon="icon-plus" ></md-icon>
        </md-button>
        <a class="md-accent md-subhead" ng-href="#" ng-click="vm.addScene($event)">{{'SCENES.ADD_A_NEW_SCENE'|translate}}</a>
      </div>

     <!-- <div class="spinWrapper">
      <ng-touch-spin ng-model="ctrl.val" postfix="&deg;C" initval="26.20" decimals="2" step="0.5">
      </ng-touch-spin>

        </div>-->

      </div>
    </div>


</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<style>
  .spinWrapper {
    width: 20%;
    margin: 0 auto;
    padding: 20px 10px;
  }

  .spinWrapper > * {
    margin-top: 10px;
  }
</style>
