<md-dialog class="event-detail-dialog" aria-label="New Message">
    <md-toolbar class="md-accent md-hue-2">
        <div class="md-toolbar-tools">
            <span class="title">{{vm.calendarEvent.title}}</span>
            <span flex></span>
            <md-button class="edit-event-button md-fab md-warn"
                       ng-click="vm.editEvent(vm.calendarEvent)" aria-label="Edit event"
                       translate translate-attr-aria-label="CALENDAR.EDIT_EVENT">
                <md-icon md-font-icon="icon-pencil"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>

        <div class="event-details" layout="column">

            <div class="event-detail-row" layout="row" layout-align="start start">
              <md-icon md-font-icon="icon-clock"></md-icon>
              <div layout="column">
                <lable class="md-subhead" style="font-weight: bold">{{'CALENDAR.START_DATE_AND_TIME'|translate}}: </lable>
                <span style="margin-top: 5px" class="md-body-1">{{vm.calendarEvent.start.format('MMMM Do YYYY, h:mm:ss a')}}</span>
              </div>
            </div>

            <div ng-if="vm.calendarEvent.eventData.locationStart.name!=''" class="event-detail-row" layout="row" layout-align="start start">
                <md-icon md-font-icon="icon-map-marker"></md-icon>
                <div layout="column" flex>
                  <div layout="row">
                    <span class="md-subhead" style="font-weight: bold">{{vm.calendarEvent.eventData.locationStart.name}}</span>
                    <span ng-if=" !vm.calendarEvent.eventData.locationStart.isTempDisabled || !vm.calendarEvent.eventData.locationStart.isHumidityDisabled" class="md-subhead" style="font-weight: bold">:</span>
                  </div>
                  <div layout="row" style="margin-top: 5px">
                    <div ng-if="!vm.calendarEvent.eventData.locationStart.isTempDisabled" layout="row">
                      <img src="assets/images/thermometer.png" style="width: 20px;height: 20px">
                      <span class="md-body-2" style="margin-left: 10px">{{'CALENDAR.TEMPERATURE'|translate}}: {{vm.calendarEvent.eventData.locationStart.temperature}} &deg;C</span>
                    </div>
                    <div ng-if="!vm.calendarEvent.eventData.locationStart.isHumidityDisabled" layout="row" style="margin-left: 20px">
                      <img src="assets/images/humidity.png" style="width: 20px;height: 20px">
                      <span class="md-body-2" style="margin-left: 10px">{{'CALENDAR.HUMIDITY'|translate}}: {{vm.calendarEvent.eventData.locationStart.humidity}} %</span>
                    </div>
                  </div>

                </div>

            </div>

          <div ng-if="!(vm.calendarEvent.eventData.deviceGroupsStart.length==1 && vm.calendarEvent.eventData.deviceGroupsStart[0].deviceNames=='')" class="event-detail-row" layout="row" layout-align="start start">
            <md-icon md-font-icon="icon-xbox-controller"></md-icon>
            <div layout="column" flex>
            <span ng-if="vm.calendarEvent.eventData.deviceGroupsStart.length==1" class="md-subhead" style="font-weight: bold">{{'CALENDAR.DEVICE_SETTING'|translate}}:</span>
            <span ng-if="vm.calendarEvent.eventData.deviceGroupsStart.length>1" class="md-subhead" style="font-weight: bold">{{'CALENDAR.DEVICE_SETTINGS'|translate}}:</span>
            <div style="margin-top: 10px" layout="row" ng-repeat="deviceGroup in vm.calendarEvent.eventData.deviceGroupsStart">
              <span class="md-body-2">{{deviceGroup.deviceNames.toString()}}: &nbsp;</span>
              <span class="md-body-2">{{deviceGroup.targetState}}</span>
            </div>
            </div>

          </div>

          <hr style="display: block;height: 1px; width: 90%; border-top: 1px solid #ccc; margin-top: -10px"/>

          <div class="event-detail-row" layout="row" layout-align="start start">
            <md-icon md-font-icon="icon-clock"></md-icon>
            <div layout="column">
              <lable class="md-subhead" style="font-weight: bold">{{'CALENDAR.END_DATE_AND_TIME'|translate}}: </lable>
              <span style="margin-top: 5px" class="md-body-1">{{vm.calendarEvent.end.format('MMMM Do YYYY, h:mm:ss a')}}</span>
            </div>
          </div>

          <div ng-if="vm.calendarEvent.eventData.locationEnd.name!=''" class="event-detail-row" layout="row" layout-align="start start">
            <md-icon md-font-icon="icon-map-marker"></md-icon>
            <div layout="column" flex>
              <div layout="row">
                <span class="md-subhead" style="font-weight: bold">{{vm.calendarEvent.eventData.locationEnd.name}}</span>
                <span ng-if=" !vm.calendarEvent.eventData.locationEnd.isTempDisabled || !vm.calendarEvent.eventData.locationEnd.isHumidityDisabled" class="md-subhead" style="font-weight: bold">:</span>
              </div>
              <div layout="row" style="margin-top: 5px">
                <div ng-if="!vm.calendarEvent.eventData.locationEnd.isTempDisabled" layout="row">
                  <img src="assets/images/thermometer.png" style="width: 20px;height: 20px">
                  <span class="md-body-2" style="margin-left: 10px">{{'CALENDAR.TEMPERATURE'|translate}}: {{vm.calendarEvent.eventData.locationEnd.temperature}} &deg;C</span>
                </div>
                <div ng-if="!vm.calendarEvent.eventData.locationEnd.isHumidityDisabled" layout="row" style="margin-left: 20px">
                  <img src="assets/images/humidity.png" style="width: 20px;height: 20px">
                  <span class="md-body-2" style="margin-left: 10px">{{'CALENDAR.HUMIDITY'|translate}}: {{vm.calendarEvent.eventData.locationEnd.humidity}} %</span>
                </div>
              </div>

            </div>

          </div>

          <div ng-if="!(vm.calendarEvent.eventData.deviceGroupsEnd.length==1 && vm.calendarEvent.eventData.deviceGroupsEnd[0].deviceNames=='')" class="event-detail-row" layout="row" layout-align="start start">
            <md-icon md-font-icon="icon-xbox-controller"></md-icon>
            <div layout="column" flex>
              <span ng-if="vm.calendarEvent.eventData.deviceGroupsEnd.length==1" class="md-subhead" style="font-weight: bold">{{'CALENDAR.DEVICE_SETTING'|translate}}:</span>
              <span ng-if="vm.calendarEvent.eventData.deviceGroupsEnd.length>1" class="md-subhead" style="font-weight: bold">{{'CALENDAR.DEVICE_SETTINGS'|translate}}:</span>
              <div style="margin-top: 10px" layout="row" ng-repeat="deviceGroup in vm.calendarEvent.eventData.deviceGroupsEnd">
                <span class="md-body-2">{{deviceGroup.deviceNames.toString()}}: &nbsp;</span>
                <span class="md-body-2">{{deviceGroup.targetState}}</span>
              </div>
            </div>
          </div>

            <!--<div class="event-detail-row" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-account"></md-icon>
                <div layout="row" flex>
                    <img src="assets/images/avatars/alice.jpg" class="avatar" alt="alice"/>
                    <img src="assets/images/avatars/joyce.jpg" class="avatar" alt="joyce"/>
                    <img src="assets/images/avatars/vincent.jpg" class="avatar" alt="vincent"/>
                </div>
            </div>-->

        </div>

    </md-dialog-content>
</md-dialog>
