<div class="ms-sb-add-location-button" layout="row" layout-align="start center" ng-hide="formActive">
    <div>
        <i class="icon-plus s20"></i>
    </div>
    <span translate="LOCATIONS.ADD_A_ROOM">Add a room</span>
</div>

<div class="ms-sb-add-location-form-wrapper" ng-hide="!formActive">
    <form ng-submit="vm.addNewRoom()" class="ms-sb-add-location-form" layout="column">

      <md-input-container md-no-float class="md-block">
        <input placeholder="{{'LOCATIONS.ENTER_A_ROOM_NAME'|translate}}" type="text" autocomplete="off" ng-model="vm.newRoomName"
               >
      </md-input-container>

       <!-- <md-input-container flex md-no-float>

            <md-select ng-model="vm.newRoom" placeholder="{{'LOCATIONS.SELECT_A_DEVICE'|translate}}"  aria-label="select">
              <md-option  ng-repeat="device in vm.allDevices" ng-disabled="vm.checkDisabled(device.name)">{{device.name}}&nbsp;({{device.location}})
              </md-option>
            </md-select>

        </md-input-container>-->

        <div layout="row" layout-align="space-between center">
            <md-button type="submit" class="add-button md-accent md-raised" aria-label="add"
                       translate-attr-aria-label="LOCATIONS.ADD">
                <span translate="LOCATIONS.ADD">Add</span></md-button>
            <md-button ng-click="toggleForm()" class="cancel-button md-icon-button" aria-label="cancel"
                       translate-attr-aria-label="LOCATIONS.CANCEL">
                <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
        </div>
    </form>
</div>
