<div id="eshl-live" class="page-layout simple right-sidenav" layout="row">
  <div class="center" flex ms-scroll>
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-around center">
      <md-divider flex="10"></md-divider>
      <div flex="50" layout="row" layout-align="start center" >
        <img src="assets/images/bos.png" width="10%" height="10%" style="min-width:40px;"/>
        <div layout="column">
          <span class="headerFont" >BOS Panel</span>
          <span class="subHeaderFont" style="margin-top: -5px; margin-left: 1px">Building Operating System GUI</span>
        </div>
      </div>

      <div flex="40" layout="row" layout-align="space-around center" >
        <div flex="40" id="weather" layout="column" layout-align="space-around center" class="timeFont"></div>
        <div flex="40" layout="column" layout-align="end center" style="margin-left: 0%">
          <span id="time" class="md-caption timeFont">{{getDate | date:'HH:mm:ss'}}</span>
          <span id="week" class="md-caption timeFont" style="padding-top: 5%">{{getDate | date:'EEE'}}</span>
          <span id="date" class="md-caption timeFont" style="padding-top: 5%">{{getDate | date:'dd/MM/yyyy'}}</span>
        </div>
        <div flex="20" class="toolbar" style="margin-left: 0%">
          <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('sidenav')" hide-gt-md
                     aria-label="Toggle sidenav">
            <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
          </md-button>
        </div>
      </div>
    </div>

    <!-- CONTENT -->
    <div class="content">
      <md-tabs md-dynamic-height>
        <md-tab label="{{'ELECTRIC_VEHICLE.ELECTRIC_VEHICLE_NAV'|translate}}">
          <md-content class="md-padding" layout-xs="column" layout="row">
            <div flex-xs flex-gt-xs="50" layout="column">
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Basic Information</span>
                    <div class="md-title" layout="row" style="margin-top: 30px; font-size: 18px">
                      <span >{{"ELECTRIC_VEHICLE.STATUS"|translate}}:&nbsp; </span>
                      <span translate="ELECTRIC_VEHICLE.CHARGING">Charging</span>
                    </div>
                    <div class="md-title" layout="row" style="font-size: 18px">
                      <span >{{"ELECTRIC_VEHICLE.POWER"|translate}}:&nbsp;</span>
                      <span>2014W</span>
                    </div>
                    <div class="md-title" layout="row" style="font-size: 18px">
                      <span>{{"ELECTRIC_VEHICLE.PARKING_TIME"|translate}}: &nbsp;</span>
                      <span>23/08 10:46</span>
                    </div>
                  </md-card-title-text>
                  <md-card-title-media style="height: 50%">
                    <div class="md-media-lg card-media">
                      <img src="assets\images\energy-flows\ElectricVehicle.jpg" >
                    </div>
                  </md-card-title-media>
                </md-card-title>
              </md-card>
              <md-card>
                <md-card-title>
                  <md-card-title-text sty="width:100%">
                    <div layout="row" layout-align="space-between start">
                    <div layout="column">
                    <span class="md-headline">{{"ELECTRIC_VEHICLE.EXTERNAL_SIGNALS"|translate}}</span>
                    <div class="md-title" layout="row" style="margin-top: 30px; font-size: 18px">
                      <span>{{"ELECTRIC_VEHICLE.CURRENT_ELECTRICITY_PRICE"|translate}}:&nbsp; </span>
                      <span>3.2€/100km</span>
                    </div>
                    <div class="md-title" layout="row" style="font-size: 18px">
                      <span>{{"ELECTRIC_VEHICLE.CURRENT_LOAD_LIMIT"|translate}}:&nbsp; </span>
                      <span>3000W</span>
                    </div>
                    </div>

                    <div class="md-media-md">

                      <img src="assets\images\energy-flows\ExternalSignal.png" style="width: 110px;height: auto">
                    </div>
                    </div>

                  </md-card-title-text>

                </md-card-title>

              </md-card>

            </div>

            <div flex-xs flex-gt-xs="50" layout="column">
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <div layout="row" layout-align="space-between start">
                    <div layout="column" style="margin-right: -50px">
                    <span class="md-headline">{{"ELECTRIC_VEHICLE.BATTERY_DETAILS"|translate}}</span>
                    <div class="md-title" layout="row" style="margin-top: 30px; font-size: 18px">
                      <span>{{"ELECTRIC_VEHICLE.CURRENT_CAPACITY"|translate}}:&nbsp; </span>
                      <span>19kWh</span>
                    </div>
                    <div class="md-title" layout="row" style="font-size: 18px">
                      <span>{{"ELECTRIC_VEHICLE.FULL_CAPACITY"|translate}}:&nbsp;</span>
                      <span>30kWh</span>
                    </div>
                    <div class="md-title" layout="row" style="font-size: 18px">
                      <span>{{"ELECTRIC_VEHICLE.CHARGING_PERCENT"|translate}}: &nbsp;</span>
                      <span>63.3%</span>
                    </div>
                    <div class="md-title" layout="row" style="font-size: 18px">
                      <span>{{"ELECTRIC_VEHICLE.DISTANCE_TO_REACH"|translate}}: &nbsp;</span>
                      <span>64km</span>
                    </div>
                    <div class="md-title" layout="row" style="font-size: 18px">
                      <span>{{"ELECTRIC_VEHICLE.REMAINING_CHARGING_TIME"|translate}}: &nbsp;</span>
                      <span>1h25min</span>
                    </div>
                      </div>
                    <div class="md-media-md">

                      <img src="assets\images\energy-flows\EVBattery.png" style="width: 150px;height: auto">
                    </div>
                      </div>
                  </md-card-title-text>
                 <!-- <md-card-title-media>
                    <div class="md-media-lg card-media">
                      <img src="assets\images\energy-flows\EVBattery.png" >
                    </div>
                  </md-card-title-media>-->
                </md-card-title>
                <md-card-content layout="row" layout-align="space-between">


                </md-card-content>
              </md-card>
            </div>
            <div flex-xs flex-gt-xs="50" layout="column">
              <form name="evForm" >
              <md-card>

                <md-card-title>
                  <md-card-title-text>
                    <div layout="row" layout-align="space-between start">
                      <div layout="column">
                         <span class="md-headline">{{"ELECTRIC_VEHICLE.NEXT_PLANNED_DRIVE"|translate}}</span>
                        <div class="md-title" layout="column" style="margin-top: 30px; font-size: 18px">
                          <span>{{"ELECTRIC_VEHICLE.DEPARTURE_DATE_TIME"|translate}}:&nbsp; </span>
                          <md-datepicker name="date" ng-model="vm.evData.departureDate" ng-change="vm.changeDate()" md-min-date="vm.currentDate" aria-label="mdp-time-picker" md-placeholder="Select a date" style="margin-top: 10px" required></md-datepicker>
                          <div ng-messages="evForm.date.$error" style="color: red" class="md-caption">
                           <!-- <div ng-message="wrongFormat1">{{"ELECTRIC_VEHICLE.DEPARTURE_DATE_REQUIRED"|translate}}</div>
                            <div ng-message="wrongFormat2">{{"ELECTRIC_VEHICLE.DATE_FORMAT_WRONG"|translate}}</div>-->
                          </div>
                          <mdp-time-picker name="time" aria-label="mdp-time-picker" style="margin-left: 8px;" ng-model="vm.evData.departureTime"  ng-change="vm.changeDateTime()" required></mdp-time-picker>
                          <div ng-messages="evForm.time.$error">
                         <!--   <div ng-message="wrongFormat1" style="margin-top: -40px; color: red" class="md-caption">{{"ELECTRIC_VEHICLE.DEPARTURE_TIME_REQUIRED"|translate}}</div>
                            <div ng-message="wrongFormat2" style="margin-top: -40px; color: red" class="md-caption">{{"ELECTRIC_VEHICLE.DEPARTURE_TIME_WRONG"|translate}}</div>-->
                          </div>
                        </div>
                        <div layout="row" layout-align="start center">
                        <div class="md-title" layout="row" layout-align="start center" style="font-size: 18px;margin-top: -60px">
                          <span>{{"ELECTRIC_VEHICLE.DISTANCE"|translate}}: &nbsp;</span>
                          <!--<span>45km</span>-->
                          <md-input-container style="width: 80px; margin-top: 35px" >
                            <input name="distance" ng-model="vm.evData.distance" type="number"  aria-label="input" required>
                            <div ng-messages="evForm.distance.$error">
                              <div ng-message="required">{{"ELECTRIC_VEHICLE.DISTANCE_IS_REQUIRED"|translate}}</div>
                              <div ng-message="number">{{"ELECTRIC_VEHICLE.INPUT_VALID_NUMBER"|translate}}</div>
                            </div>
                          </md-input-container>
                          <span >km</span>
                        </div>

                        </div>
                        <div class="md-title" layout="row" layout-align="start center" style="font-size: 18px; margin-top: -70px">
                          <span>{{"ELECTRIC_VEHICLE.MINIMUM_RANGE"|translate}}: &nbsp;</span>
                          <md-input-container style="width: 80px; margin-top: 35px">
                            <input name="minRange" ng-model="vm.evData.minRange" type="number" step="0.1" aria-label="input" required>
                            <div ng-messages="evForm.minRange.$error">
                              <div ng-message="required">{{"ELECTRIC_VEHICLE.MINIMUM_RANGE_REQUIRED"|translate}}</div>
                              <div ng-message="number">{{"ELECTRIC_VEHICLE.INPUT_VALID_NUMBER"|translate}}</div>

                            </div>
                          </md-input-container>
                          <span>km</span>
                        </div>
                        <div class="md-title" layout="row" style="font-size: 18px; margin-top: -20px" flex-gt-sm="50">
                        <md-checkbox ng-model="vm.evData.isChargingImmediately" aria-label="Checkbox 1">
                          {{"ELECTRIC_VEHICLE.START_CHARGING_NOW"|translate}}
                        </md-checkbox>
                          </div>
                       <!-- <md-button class="md-accent md-raised" style="width: 50%" ng-click="vm.save()">Save</md-button>-->
                        </div>
                      <div class="md-card-image" style="width: 150px;height: auto">
                        <img src="assets\images\energy-flows\NextPlannedDrive.png" >
                      </div>
                      </div>
                  </md-card-title-text>
                  <!--<md-card-title-media>
                    <div class="md-media-lg card-media">
                      <img src="assets\images\energy-flows\NextPlannedDrive.png" >
                    </div>
                  </md-card-title-media>-->
                </md-card-title>
                <md-card-actions layout="row" layout-align="center start">
                  <md-button id="saveBtn" class="md-accent md-raised" ng-disabled="evForm.$invalid" ng-click="vm.save($event)" style="margin-top: -10px">{{"ELECTRIC_VEHICLE.SAVE"|translate}}</md-button>
                </md-card-actions>

              </md-card>
              </form>
            </div>
          </md-content>
        </md-tab>
      </md-tabs>
    </div>

    </div>
</div>

<script src="assets/lib/jquery.simpleWeather.js"></script>
<script src="assets/lib/weather.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">


