
<div id="eshl-live" class="page-layout simple right-sidenav" layout="row">
  <div class="center" flex ms-scroll>
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-around center">
      <md-divider flex="10"></md-divider>
      <div flex="50" layout="row" layout-align="start center" >
        <img src="assets/images/bos.png" width="10%" height="10%" style="min-width:40px;"/>
        <div layout="column">
          <span class="headerFont" >BOS Panel</span>
          <small class="subHeaderFont" style="margin-top: -5px; margin-left: 1px">Building Operating System GUI</small>
        </div>
      </div>

      <div flex="40" layout="row" layout-align="space-around center" >
        <div flex="40" id="weather" layout="column" layout-align="space-around center" class="timeFont"></div>
        <div flex="40" layout="column" layout-align="end center" style="margin-left: 0%">
          <span id="time" class="md-caption timeFont">{{getDate | date:'HH:mm:ss'}}</span>
          <span id="week" class="md-caption timeFont" style="padding-top: 5%">{{getDate | date:'EEE'}}</span>
          <span id="date" class="md-caption timeFont" style="padding-top: 5%">{{getDate | date:'dd/MM/yyyy'}}</span>
        </div>
        <div flex="20" class="toolbar" style="margin-left: 0%">
          <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('sidenav')" hide-gt-md
                     aria-label="Toggle sidenav">
            <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
          </md-button>
        </div>
      </div>
    </div>


    <!-- CONTENT -->
    <div class="content">
      <md-tabs md-dynamic-height>
        <md-tab label="{{'DEVICE_GROUPS.DEVICE_GROUPS_NAV'|translate}}" >
          <md-content class="md-padding">

            <!-- BOARD -->
            <div id="board"
                 ng-model="vm.board.groups" layout="row" >
              <!-- LIST -->
              <div class="list-wrapper" ng-repeat="group in vm.board.groups">

                <div class="list md-whiteframe-1dp" layout="column">

                  <!-- LIST HEADER -->
                  <div class="list-header" layout="row" layout-align="space-between center">

                    <div class="list-header-name">

                      <form action="#" editable-form name="deviceGroup" layout="column">
                        <span>{{group.name}}</span>
                       <!-- <a href="#" ng-click="deviceGroup.$show()" editable-text="group.name">{{group.name}}
                          <md-tooltip >Click to change the group name</md-tooltip>
                        </a>-->

                        <span ng-show="deviceGroup.$visible" style="margin-top: 5px">
                          <a href="#" class="md-accent " ng-click="vm.addNewGroup(deviceGroup)" ng-disabled="deviceGroup.$waiting">
                            Save
                          </a>
                          <a href="#" id="test" class="md-accent " style="margin-left: 3px" ng-disabled="deviceGroup.$waiting"
                             ng-click="deviceGroup.$cancel()">
                            Cancel
                          </a>
                        </span>
                      </form>
                    </div>

                    <md-menu md-offset="0 48px" class="options list-header-option-button">

                      <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Options"
                                 translate translate-attr-aria-label="SB.OPTIONS">
                        <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                      </md-button>

                      <md-menu-content class="options-menu-content" width="4">
                        <md-menu-item ng-show="vm.checkGroupForLights(group) || vm.checkGroupForBlinds(group)">
                          <span translate="SB.SET_STATE_FOR_GROUP">Set state for all devices in this group:</span>
                        </md-menu-item>
                        <md-menu-item ng-show="vm.checkGroupForLights(group)">
                          <md-switch ng-model="switch.value" aria-label="Switch 2" class="md-accent" style="margin-top: -1px" ng-change="vm.changeStateForLightGroup(group,switch.value)">

                          </md-switch>
                        </md-menu-item>
                       <!-- <md-menu-item ng-show="!vm.checkGroup(group)">
                          <md-button  ng-click="vm.switchOnGroup(group)" aria-label="Remove List"
                                     translate translate-attr-aria-label="SB.REMOVE_LIST">
                            <md-icon md-font-icon="icon-power" class="md-accent" md-menu-align-target></md-icon>
                            <span translate="SB.ALL_SWITCH_ON">All Switch On</span>
                          </md-button>

                        </md-menu-item>
                        <md-menu-item ng-show="!vm.checkGroup(group)">
                          <md-button  ng-click="vm.switchOffGroup(group)" aria-label="Remove List"
                                     translate translate-attr-aria-label="SB.REMOVE_LIST">
                            <md-icon md-font-icon="icon-power" md-menu-align-target></md-icon>
                            <span translate="SB.ALL_SWITCH_OFF">All Switch Off</span>
                          </md-button>
                        </md-menu-item>-->

                        <md-menu-item ng-show="vm.checkGroupForBlinds(group)" >
                          <!--<md-button  ng-click="vm.openGroup(group)" aria-label="Remove List"
                                     translate translate-attr-aria-label="SB.REMOVE_LIST">
                            <img src="assets/images/energy-flows/Blind_0.png" height="15" width="15" style="margin-right: 20px; margin-left: 5px"/>
                            <span translate="SB.ALL_OPEN">All Open</span>
                          </md-button>-->
                          <md-slider-container>

                            <div layout="row" layout-align="space-around center">

                              <md-slider flex min="0" max="100" step="25" ng-model="slider.value" aria-label="red" ng-change="vm.changeStateForBlindGroup(group,slider.value)">
                              </md-slider>
                            </div>

                          </md-slider-container>
                        </md-menu-item>
                      <!--  <md-menu-item ng-show="vm.checkGroup(group)">
                          <md-button  ng-click="vm.closeGroup(group)" aria-label="Remove List"
                                     translate translate-attr-aria-label="SB.REMOVE_LIST">
                            <img src="assets/images/energy-flows/Blind_100.png" height="15" width="15" style="margin-right: 20px; margin-left: 5px"/>
                            <span translate="SB.ALL_CLOSE">All Close</span>
                          </md-button>
                        </md-menu-item>-->


                        <md-menu-item>
                          <md-button ng-click="vm.removeGroup($event,group)" aria-label="Remove List"
                                     translate translate-attr-aria-label="SB.REMOVE_LIST">
                            <md-icon md-font-icon="icon-delete" md-menu-align-target></md-icon>
                            <span translate="SB.REMOVE_LIST">Remove List</span>
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>

                    </md-menu>

                  </div>
                  <!-- / LIST HEADER -->

                  <!-- LIST CONTENT -->
                  <div class="list-content" layout="column">

                    <div class="list-cards" ui-sortable="vm.sortableCardOptions" ng-model="group.idDevices" ms-scroll>

                      <!-- CARD -->
                      <div ng-if="deviceId" class="list-card md-whiteframe-2dp"
                           ng-repeat="deviceId in group.idDevices"
                           ng-click="vm.openDeviceDialog($event, deviceId)">

                        <!-- CARD DETAILS -->
                        <div class="list-card-details">

                          <!-- CARD SORT HANDLE -->
                          <div class="list-card-sort-handle">
                            <md-icon md-font-icon="icon-cursor-move" class="icon s16"></md-icon>
                          </div>
                          <!-- /CARD SORT HANDLE -->

                          <!-- CARD NAME -->
                          <div layout="row" flex layout-align="space-between center">
                            <!--<md-list flex>
                              <md-list-item ng-click="null">
                                <img ng-src="{{vm.board.devices.getById(deviceId).image}}" class="md-avatar"  />
                                <div class="list-card-name">{{vm.board.devices.getById(deviceId).name}}&nbsp; ({{vm.board.devices.getById(deviceId).location}})</div>
                              </md-list-item>
                            </md-list>-->


                            <div class="list-card-name">
                              <img ng-src="{{vm.getDeviceById(deviceId).image}}" style="width: 22px;margin-right: 2px" />
                             <!-- <span>{{vm.getDeviceById(deviceId).name}}&nbsp; ({{vm.getDeviceById(deviceId).location}})</span>-->
                              <span>{{vm.getDeviceById(deviceId).name}}</span>
                            </div>

                            <md-menu md-offset="0 0" class="options list-header-option-button" style="margin-top: -17px;margin-right: -17px">

                              <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Options"
                                         translate translate-attr-aria-label="SB.OPTIONS" >
                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical" ></md-icon>
                              </md-button>

                              <md-menu-content class="options-menu-content" width="4">
                                <md-menu-item>
                                  <md-button ng-click="vm.removeDeviceFromGroup(group,deviceId)" aria-label="Remove Device"
                                             translate translate-attr-aria-label="SB.REMOVE_DEVICE">
                                    <md-icon md-font-icon="icon-delete" md-menu-align-target></md-icon>
                                    <span translate="SB.REMOVE_DEVICE">Remove Device</span>
                                  </md-button>
                                </md-menu-item>
                              </md-menu-content>

                            </md-menu>
                          </div>

                          <!-- / CARD NAME -->

                        </div>
                        <!-- / CARD DETAILS -->

                        <!-- CARD FOOTER -->
                        <div class="list-card-footer" layout="row" layout-align="start center">

                            <!-- CARD DETAILS -->

                                <span class="list-card-footer-item" layout="row" layout-align="start center">
                                    {{"SB.STATE"|translate}}:
                                </span>

                                <span class="list-card-footer-item" layout="row" layout-align="start center" style="margin-left: -7px">
                                    {{vm.getDeviceById(deviceId).state}}
                                </span>
                                 <span ng-show="vm.getDeviceById(deviceId).name.indexOf('Blind')<0 && vm.getDeviceById(deviceId).name.indexOf('Light')<0" class="list-card-footer-item" layout="row" layout-align="start center">
                                    {{"SB.POWER"|translate}}:
                                </span>
                                <span ng-show="vm.getDeviceById(deviceId).name.indexOf('Blind')>=0||vm.getDeviceById(deviceId).name.indexOf('Light')>=0" class="list-card-footer-item" layout="row" layout-align="start center">
                                    {{"SB.LOCATION"|translate}}:
                                </span>

                                <span ng-show="vm.getDeviceById(deviceId).name.indexOf('Blind')<0 && vm.getDeviceById(deviceId).name.indexOf('Light')<0" class="list-card-footer-item" layout="row" layout-align="start center" style="margin-left: -7px">
                                   {{vm.getDeviceById(deviceId).power}}
                                </span>
                                <span ng-show="vm.getDeviceById(deviceId).name.indexOf('Blind')>=0||vm.getDeviceById(deviceId).name.indexOf('Light')>=0" class="list-card-footer-item" layout="row" layout-align="start center" style="margin-left: -7px">
                                   {{vm.getDeviceById(deviceId).location}}
                                </span>

                            <!-- / CARD DETAILS -->

                        </div>
                        <!-- CARD FOOTER -->
                      </div>
                      <!-- / CARD -->
                    </div>
                  </div>
                  <!-- / LIST CONTENT -->

                  <!-- NEW CARD BUTTON-->
                  <div class="list-footer">
                    <ms-sb-add-card ms-group-id="group.id" ms-dweller-name="vm.user.username" ms-board="vm.board" ms-all-devices="vm.devices"></ms-sb-add-card>
                  </div>
                  <!-- / NEW CARD BUTTON-->

                </div>
              </div>
              <!-- / LIST -->

              <!-- NEW LIST BUTTON-->
              <div class="new-list-wrapper">
                <div class="list new-list md-whiteframe-1dp">

                  <form action="#" editable-form name="newGroupForm">
                    <span id="newGroupName" editable-text="vm.newGroupName" e-placeholder={{'SB.INPUT_A_GROUP_NAME'|translate}}></span>
                    <md-button class="new-list-form-button" ng-click="newGroupForm.$show()" ng-hide="newGroupForm.$visible">
                      <div layout="row" layout-align="start center">
                        <md-button class="md-fab md-accent md-mini" aria-label="Use Android">
                          <md-icon md-font-icon="icon-plus" ></md-icon>
                        </md-button>
                        <span translate="SB.ADD_A_LIST">Click to add a device group</span>
                      </div>
                    </md-button>

                  <span ng-show="newGroupForm.$visible" >
                    <a href="#" class="md-accent md-padding" ng-click="vm.addNewGroup(newGroupForm)" ng-disabled="newGroupForm.$waiting">
                      {{'SB.SAVE'|translate}}
                    </a>
                    <a href="#" class="md-accent md-padding" ng-disabled="newGroupForm.$waiting"
                            ng-click="newGroupForm.$cancel()" >
                      {{'SB.CANCEL'|translate}}
                    </a>
                  </span>
                  </form>

                </div>
              </div>

              <!-- / NEW LIST BUTTON-->

            </div>
            <!-- / BOARD -->

          </md-content>
          </md-tab>
      </md-tabs>

    </div>
  </div>

</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
