

<style>

  hgroup {
    text-align:center;

  }

  .header {
    font-weight:300;
    font-size: 30px;
  }

  .placeholder {
    font-size: 17px;
  }
  .md-input-has-value.inputContainer > input {
    font-size: 20px;

  }

  #outerDiv{
    width: 100%;
    height: 400px;
    text-align: center;
  }
  .inputs {
    width: 580px;
    margin: -10em auto;
    padding: 1.5em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  }
</style>
<div id="outerDiv" class="header md-accent-bg" layout="column" layout-align="center" style="background-image: url('/assets/images/backgrounds/header-bg.png');background-size: cover">
  <div style="font-weight: 500;font-size: 40px;text-transform: uppercase; ">Building Operating System</div>
  <div style="font-weight: 200;font-size: 38px; ">User Interface</div>
</div>
<div class="inputs">

<hgroup>
<div class="header" style="text-transform: uppercase; "> Register </div>
</hgroup>

  <form name="form">
    <div layout="column">
    <md-input-container class="inputContainer md-accent">
      <label class="placeholder">User Name</label>
      <input name="username" id="username" ng-model="vm.user.name" type="text" required>
      <div ng-messages="form.username.$error">
        <div ng-message="required">Username is required</div>
      </div>
    </md-input-container>

    <md-input-container class="inputContainer md-accent">
      <label class="placeholder">Password</label>
      <input type="password" name="password" id="password" ng-model="vm.user.password" required >
      <div ng-messages="form.password.$error">
        <div ng-message="required">Password is required</div>
      </div>
    </md-input-container>

    <md-input-container class="inputContainer md-accent">
      <label class="placeholder">Role</label>
      <input type="text" name="role" id="role" ng-model="vm.user.role" required >
      <div ng-messages="form.password.$error">
        <div ng-message="required">Role is required</div>
      </div>
    </md-input-container>

    <div layout="row" layout-align="center center">
      <md-button class="md-raised md-accent" ng-disabled="form.$invalid || vm.dataLoading" ng-click="vm.register()"> Register </md-button>
      <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      <a ui-sref="login">login</a>
    </div>
</div>
  </form>

</div>

<!--
<div>
<h1>This is a login page</h1>
</div>-->
