<div id="eshl-live" class="page-layout simple right-sidenav" layout="row">
  <div class="center" flex ms-scroll>
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-around center">
      <md-divider flex="10"></md-divider>
      <div flex="50" layout="row" layout-align="start center" >
        <img src="assets/images/bos.png" width="10%" height="10%" style="min-width:40px;"/>
        <div layout="column">
          <span class="headerFont" >BOS Panel</span>
          <small class="subHeaderFont" style="margin-top: -5px; margin-left: 1px">Building Operating System GUI</small>
        </div>
      </div>

      <div flex="40" layout="row" layout-align="space-around center" >
        <div flex="40" id="weather" layout="column" layout-align="space-around center" class="timeFont"></div>
        <div flex="40" layout="column" layout-align="end center" style="margin-left: 0%">
          <span id="time" class="md-caption timeFont">{{getDate | date:'HH:mm:ss'}}</span>
          <span id="week" class="md-caption timeFont" style="padding-top: 5%">{{getDate | date:'EEE'}}</span>
          <span id="date" class="md-caption timeFont" style="padding-top: 5%">{{getDate | date:'dd/MM/yyyy'}}</span>
        </div>
        <div flex="20" class="toolbar" style="margin-left: 0%">
          <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('sidenav')" hide-gt-md
                     aria-label="Toggle sidenav">
            <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
          </md-button>
        </div>
      </div>
    </div>

    <!-- CONTENT -->
    <div class="content">
      <!--<md-tabs md-dynamic-height>
        <md-tab label="{{'LOCATIONS.LOCATIONS_NAV'|translate}}" >
          <fieldset  data-ng-repeat="location in vm.locations">
            <input type="text" ng-model="location" name="locationName" placeholder='{{"LOCATIONS.ENTER_A_LOCATION_NAME"|translate}}' ng-change="vm.changeLocation()">
            <md-button class="md-accent" ng-click="vm.removeLocation(location)">{{"LOCATIONS.REMOVE"|translate}}</md-button>
            <md-button id="save" class="md-accent" ng-show="$last" ng-click="vm.saveLocation(location)" ng-disabled="!location || vm.isSaveDisabled">{{"LOCATIONS.SAVE"|translate}}</md-button>
          </fieldset>
          <md-button class="md-accent md-raised" ng-click="vm.addNewLocation()" ng-disabled="vm.isAddDisabled">{{"LOCATIONS.ADD_A_LOCATION"|translate}}</md-button>
        </md-tab>
      </md-tabs>-->


      <md-tabs md-dynamic-height>
        <md-tab label="{{'LOCATIONS.LOCATIONS_NAV'|translate}}" >
          <md-content class="md-padding">

            <!-- BOARD -->
            <div id="board"
                 ng-model="vm.building.floors" layout="row" >
              <!-- LIST -->
              <div class="list-wrapper" ng-repeat="floor in vm.building.floors">

                <div class="list md-whiteframe-1dp" layout="column">

                  <!-- LIST HEADER -->
                  <div class="list-header" layout="row" layout-align="space-between center">

                    <div class="list-header-name">

                      <form action="#" editable-form name="floorForm" layout="column">
                        <!--<span>{{floor.name}}</span>-->
                        <a href="#" ng-click="floorForm.$show()" editable-text="floor.name" >{{floor.name}}
                          <md-tooltip >Click to change the floor name</md-tooltip>
                        </a>
                        <span ng-show="floorForm.$visible" style="margin-top: 5px">
                          <a href="#" class="md-accent " ng-click="vm.changeFloorName(floorForm,floor)" ng-disabled="floorForm.$waiting">
                            Save
                          </a>
                          <a href="#" id="test" class="md-accent " style="margin-left: 3px" ng-disabled="floorForm.$waiting"
                             ng-click="floorForm.$cancel()">
                            Cancel
                          </a>
                        </span>
                      </form>
                    </div>

                    <md-menu md-offset="0 48px" class="options list-header-option-button">

                      <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Options"
                                 translate translate-attr-aria-label="LOCATIONS.OPTIONS">
                        <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                      </md-button>

                      <md-menu-content class="options-menu-content" width="4">
                        <md-menu-item>
                          <md-button ng-click="vm.removeFloor($event,floor)" aria-label="Remove List"
                                     translate translate-attr-aria-label="LOCATIONS.REMOVE_FLOOR">
                            <md-icon md-font-icon="icon-delete" md-menu-align-target></md-icon>
                            <span translate="LOCATIONS.REMOVE_FLOOR">Remove This Floor</span>
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>

                    </md-menu>

                  </div>
                  <!-- / LIST HEADER -->

                  <!-- LIST CONTENT -->
                  <div class="list-content" layout="column">

                    <div class="list-cards" ui-sortable="vm.sortableCardOptions" ng-model="floor.rooms" ms-scroll>

                      <!-- CARD -->
                      <div  class="list-card md-whiteframe-2dp"
                           ng-repeat="room in floor.rooms"
                            ng-if="room"
                           ng-click="">

                        <!-- CARD DETAILS -->
                        <div class="list-card-details">

                          <!-- CARD SORT HANDLE -->
                          <div class="list-card-sort-handle">
                            <md-icon md-font-icon="icon-cursor-move" class="icon s16"></md-icon>
                          </div>
                          <!-- /CARD SORT HANDLE -->

                          <!-- CARD NAME -->
                          <div layout="row" flex layout-align="space-between center">

                            <div class="list-card-name">
                              <!--<img ng-src="{{vm.getDeviceById(deviceId).image}}" style="width: 22px;margin-right: 2px" />-->
                              <span>{{room.name}}</span>
                            </div>

                            <md-menu md-offset="0 0" class="options list-header-option-button" style="margin-top: -17px;margin-right: -17px">

                              <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Options"
                                         translate translate-attr-aria-label="LOCATIONS.OPTIONS" >
                                <md-icon md-menu-origin md-font-icon="icon-dots-vertical" ></md-icon>
                              </md-button>

                              <md-menu-content class="options-menu-content" width="4">
                                <md-menu-item>
                                  <md-button ng-click="vm.removeRoomFromFloor(floor,room)" aria-label="Remove Device"
                                             translate translate-attr-aria-label="LOCATIONS.REMOVE_ROOM">
                                    <md-icon md-font-icon="icon-delete" md-menu-align-target></md-icon>
                                    <span translate="LOCATIONS.REMOVE_ROOM">Remove This Room</span>
                                  </md-button>
                                </md-menu-item>
                              </md-menu-content>

                            </md-menu>
                          </div>

                          <!-- / CARD NAME -->

                        </div>
                        <!-- / CARD DETAILS -->

                        <!-- CARD FOOTER -->
                        <div class="list-card-footer" layout="row" layout-align="start center">

                          <!-- CARD DETAILS -->


                          <!-- / CARD DETAILS -->

                        </div>
                        <!-- CARD FOOTER -->
                      </div>
                      <!-- / CARD -->
                    </div>
                  </div>
                  <!-- / LIST CONTENT -->

                  <!-- NEW CARD BUTTON-->
                  <div class="list-footer">
                    <ms-sb-add-location ms-floor-id="floor.id" ms-admin-name="vm.admin" ms-building="vm.building"></ms-sb-add-location>
                  </div>
                  <!-- / NEW CARD BUTTON-->

                </div>
              </div>
              <!-- / LIST -->

              <!-- NEW LIST BUTTON-->
              <div class="new-list-wrapper">
                <div class="list new-list md-whiteframe-1dp">

                  <form action="#" editable-form name="newFloorForm">
                    <span id="newFloorName" editable-text="vm.newFloorName" e-placeholder={{'LOCATIONS.ENTER_A_FLOOR_NAME'|translate}}></span>
                    <md-button class="new-list-form-button" ng-click="newFloorForm.$show()" ng-hide="newFloorForm.$visible">
                      <div layout="row" layout-align="start center">
                        <md-button class="md-fab md-accent md-mini" aria-label="Use Android">
                          <md-icon md-font-icon="icon-plus" ></md-icon>
                        </md-button>
                        <span translate="LOCATIONS.ADD_A_FLOOR">Click to add a new floor</span>
                      </div>
                    </md-button>

                  <span ng-show="newFloorForm.$visible" >
                    <a href="#" class="md-accent md-padding" ng-click="vm.addFloor(newFloorForm)" ng-disabled="newFloorForm.$waiting">
                      {{'LOCATIONS.SAVE'|translate}}
                    </a>
                    <a href="#" class="md-accent md-padding" ng-disabled="newFloorForm.$waiting"
                       ng-click="newFloorForm.$cancel()" >
                      {{'LOCATIONS.CANCEL'|translate}}
                    </a>
                  </span>
                  </form>

                </div>
              </div>

              <!-- / NEW LIST BUTTON-->

            </div>
            <!-- / BOARD -->

          </md-content>
        </md-tab>
      </md-tabs>

    </div>

  </div>


</div>
<script src="assets/lib/jquery.simpleWeather.js"></script>
<script src="assets/lib/weather.js"></script>

<script type="text/javascript">

</script>

<style>
  fieldset{
    background: #FCFCFC;
    padding: 16px;
    border: 1px solid #D5D5D5;
  }

</style>
