<div id="eshl-live" class="page-layout simple right-sidenav" layout="row">
  <div class="center" flex ms-scroll>
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-around center">
      <md-divider flex="10"></md-divider>
      <div flex="50" layout="row" layout-align="start center" >
        <img src="assets/images/bos.png" width="10%" height="10%" style="min-width:40px;"/>
        <div layout="column">
          <span class="headerFont" >BOS Panel</span>
          <span class="subHeaderFont" style="margin-top: -5px; margin-left: 1px">Building Operating System GUI</span>
        </div>
      </div>

      <div flex="40" layout="row" layout-align="space-around center" >
        <div flex="40" id="weather" layout="column" layout-align="space-around center" class="timeFont"></div>
        <div flex="40" layout="column" layout-align="end center" style="margin-left: 0%">
          <span id="time" class="md-caption timeFont">{{getDate | date:'HH:mm:ss'}}</span>
          <span id="week" class="md-caption timeFont" style="padding-top: 5%">{{getDate | date:'EEE'}}</span>
          <span id="date" class="md-caption timeFont" style="padding-top: 5%">{{getDate | date:'dd/MM/yyyy'}}</span>
        </div>
        <div flex="20" class="toolbar" style="margin-left: 0%">
          <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('sidenav')" hide-gt-md
                     aria-label="Toggle sidenav">
            <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
          </md-button>
        </div>
      </div>
    </div>

    <!-- CONTENT -->
    <div class="content">
      <md-tabs md-dynamic-height>
        <!--<md-tab label="{{'DEVICES_ADMIN.ALL_DEVICES'|translate}}" >
          <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="device in vm.devices" ng-click="null">
              <img ng-src="{{device.image}}" style="width: 40px" alt="{{device.name}}" />

              <span flex="15" style="margin-left: 30px">{{device.id}}</span>
              <md-button flex="10" class="md-accent" ng-click="vm.showDeviceDetails(device)">{{'DEVICES_ADMIN.DETAILS'|translate}}</md-button>
              <span style="margin-right: 12px">{{"DEVICES_ADMIN.LOCATION"|translate}}:</span>
              <md-select flex="15" placeholder="{{'DEVICES_ADMIN.SELECT_A_LOCATION'|translate}}" ng-model="device.location">
                <md-option ng-value="location.name" ng-repeat="location in vm.locations">{{location.name}}</md-option>
              </md-select>
            </md-list-item>
          </md-list>
          <md-button class="md-accent" ng-click="vm.save()">{{'DEVICES_ADMIN.SAVE'|translate}}</md-button>
        </md-tab>-->
        <md-tab label="{{'DEVICES_ADMIN.UNSIGNED_DEVICES'|translate}}" >
          <md-content class="md-padding" >



              <div layout="row" layout-align="center center" flex>
                <md-input-container flex="15">
                  <label>{{'DEVICES_ADMIN.FLOOR'|translate}}</label>
                  <md-select name="type" ng-model="vm.selectedFloor" required ng-change="vm.changeFloor()">
                    <md-option ng-repeat="floor in vm.floors" value="{{floor.name}}">{{floor.name}}</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container flex="15" style="margin-left: 20px">
                  <label>{{'DEVICES_ADMIN.ROOM'|translate}}</label>
                  <md-select name="type" ng-model="vm.selectedRoom" required>
                    <md-option ng-repeat="room in vm.rooms" value="{{room.name}}">{{room.name}}</md-option>
                  </md-select>
                </md-input-container>
                <md-button class="md-accent md-raised" style="margin-left: 20px" ng-disabled="vm.selectedFloor===null || vm.selectedRoom===null || vm.selectedDevices.length===0 " ng-click="vm.assign()">{{'DEVICES_ADMIN.ASSIGN'|translate}}</md-button>
              </div>

            <md-card class="md-padding" style="width: 90%;display: table; margin: 0 auto;">


            <div layout="row"  layout-wrap >
              <!--<md-checkbox ng-repeat="device in vm.devices" ng-click="vm.toggle(device,vm.selectedDevices)" aria-label="Checkbox 1">
                <div layout="column" layout-align="end center">
                  <img ng-src="{{device.image}}" style="width: 40px" alt="{{device.name}}" />
                  <md-tooltip>{{device.id}}</md-tooltip>
                  &lt;!&ndash;<span style="margin-left: 0px">{{device.id}}</span>&ndash;&gt;
                </div>
              </md-checkbox>-->
              <div ng-repeat="device in vm.unassignedDevices" layout="row" layout-align="start center" style="width: 100px">
                <div >
                  <md-button aria-label="md-checkbox" class="deviceframe" ng-style="{'background-color':vm.selectedDevices.indexOf(device)>=0? vm.activeTheme.accent.color:'transparent'}" ng-click="vm.toggle(device,vm.selectedDevices)">
                    <div >
                      <img src={{device.image}} width="35px" height="35px" align="center"  />
                    </div>
                    <md-tooltip>{{device.id}}</md-tooltip>
                  </md-button>
                </div>
              <!--  <div style="margin-left: 10px">
                  <div style="font-weight: bold;font-size: medium;font-family: sans-serif">{{device.name}}</div>
                </div>-->
              </div>
            </div>
            </md-card>
          </md-content>

         <!-- <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="device in vm.devices" ng-click="null">
              <img ng-src="{{device.image}}" style="width: 40px" alt="{{device.name}}" />

              <span flex="15" style="margin-left: 30px">{{device.id}}</span>
              <md-button flex="10" class="md-accent" ng-click="vm.showDeviceDetails(device)">{{'DEVICES_ADMIN.DETAILS'|translate}}</md-button>
              <span style="margin-right: 12px">{{"DEVICES_ADMIN.LOCATION"|translate}}:</span>
              <md-select flex="15" placeholder="{{'DEVICES_ADMIN.SELECT_A_LOCATION'|translate}}" ng-model="device.location">
                <md-option ng-value="location.name" ng-repeat="location in vm.locations">{{location.name}}</md-option>
              </md-select>
            </md-list-item>
          </md-list>
          <md-button class="md-accent" ng-click="vm.save()">{{'DEVICES_ADMIN.SAVE'|translate}}</md-button>-->
        </md-tab>
       <!-- <md-tab label="{{'DEVICES_ADMIN.LOCATIONS'|translate}}">
          <div class="device-container">

            <div class="expandcollapse-item" ng-repeat="location in vm.locations">
              <div ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
                <table width="100%">
                  <tr>
                    <td width="50%"><p>{{location.name}}</p></td>
                    <td width="50%"><p style="float: right">{{location.deviceNum}}</p></td>
                  </tr>
                </table>
              </div>

              <div class="slideDown" ng-hide="active">
                <div class="expand-collapse-content" layout="row"  layout-wrap>
                  <div ng-repeat="device in vm.devices" ng-if="device.location === location.name "  layout="row" layout-align="start center" style="width: 280px">
                    <div >
                      <md-button aria-label="md-checkbox" class="imgframe" ng-style="{'background-color':device.power>0?'#FFF8DC':(device.power<0?'lightgreen':'transparent')}" ng-click="vm.showDeviceDetails(device)">
                        <div >
                          <img src={{device.image}} width="40px" height="40px" align="center"  />
                        </div>
                      </md-button>
                    </div>
                    <div style="margin-left: 10px">
                      <div style="font-weight: bold;font-size: medium;font-family: sans-serif">{{device.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </md-tab>-->

        <md-tab ng-repeat="floor in vm.floors" label="{{floor.name}}">
          <div class="device-container">

            <div class="expandcollapse-item" ng-repeat="room in floor.rooms">
              <div ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
                <table width="100%">
                  <tr>
                    <td width="50%"><p>{{room.name}}</p></td>
                    <td width="50%">
                      <div layout="row" layout-align="end center" style="float: right">
                        <md-button ng-if="!active"  style="margin-right: 50px;color: white" ng-disabled="room.selectedDevices.length===0" ng-click="vm.removeDevicesFromRoom(floor,room)">
                          <u><p>{{'DEVICES_ADMIN.REMOVE_DEVICES'|translate}}</p></u>
                        </md-button>
                       <!-- <a style="margin-right: 50px;color: white" ng-click="vm.removeDevicesFromRoom(room)"><p>remove devices</p></a>-->
                        <p >{{room.deviceNum}}</p>
                      </div>
                     <!-- <p style="float: right">{{room.deviceNum}}</p>-->
                    </td>
                  </tr>
                </table>
              </div>

              <div class="slideDown" ng-hide="active">
                <div class="expand-collapse-content" layout="row"  layout-wrap>
                  <div ng-repeat="device in vm.devices" ng-if="device.floor === floor.name && device.room === room.name "  layout="row" layout-align="start center" style="width: 100px">
                    <div >
                      <md-button aria-label="md-checkbox" class="deviceframe" ng-style="{'background-color':room.selectedDevices.indexOf(device)>=0? vm.activeTheme.accent.color:'transparent'}" ng-click="vm.toggle(device,room.selectedDevices)">
                        <div >
                          <img src={{device.image}} width="35px" height="35px" align="center"  />
                        </div>
                        <md-tooltip>{{device.id}}</md-tooltip>
                      </md-button>
                    </div>
                   <!-- <div style="margin-left: 10px">
                      <div style="font-weight: bold;font-size: medium;font-family: sans-serif">{{device.name}}</div>
                    </div>-->
                  </div>
                </div>
              </div>
            </div>

          </div>
        </md-tab>

      </md-tabs>



    </div>

  </div>



</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="assets/lib/jquery.simpleWeather.js"></script>
<script src="assets/lib/weather.js"></script>

