<div id="eshl-live" class="page-layout simple right-sidenav" layout="row">
  <div class="center" flex ms-scroll>
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-around center">
      <md-divider flex="10"></md-divider>
      <div flex="50" layout="row" layout-align="start center" >
        <img src="assets/images/bos.png" width="10%" height="10%" style="min-width:40px;"/>
        <div layout="column">
          <span class="headerFont" >BOS Panel</span>
          <small class="subHeaderFont" style="margin-top: -5px; margin-left: 1px">Building Operating System GUI</small>
        </div>
      </div>

      <div flex="40" layout="row" layout-align="space-around center" >
        <div flex="40" id="weather" layout="column" layout-align="space-around center" class="timeFont"></div>
        <div flex="40" layout="column" layout-align="end center" style="margin-left: 0%">
          <span id="time" class="md-caption timeFont">{{getDate | date:'HH:mm:ss'}}</span>
          <span id="week" class="md-caption timeFont" style="padding-top: 5%">{{getDate | date:'EEE'}}</span>
          <span id="date" class="md-caption timeFont" style="padding-top: 5%">{{getDate | date:'dd/MM/yyyy'}}</span>
        </div>
        <div flex="20" class="toolbar" style="margin-left: 0%">
          <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('sidenav')" hide-gt-md
                     aria-label="Toggle sidenav">
            <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
          </md-button>
        </div>
      </div>
    </div>

    <!-- CONTENT -->
    <div class="content">
      <md-tabs md-dynamic-height>
        <md-tab label="{{'BUILDING_COMPARISONS.BUILDING_COMPARISONS_NAV'|translate}}" >
          <md-content class="md-padding">
            <form name="buildingComparisonForm">
            <md-list flex>
              <md-list-item >
                <h3 flex="15"><b>{{'BUILDING_COMPARISONS.SELECT_A_MONTH'|translate}}:</b></h3>
                <div class="md-list-item-text" layout="column" >
                  <!--<md-datepicker  ng-model="vm.buildingComparison.StartDate" md-placeholder="Start Date" style="margin-left:-13px;margin-bottom: 10px;"></md-datepicker>
                  <md-datepicker ng-model="vm.buildingComparison.EndDate" md-placeholder="End Date" style="margin-left:-13px;margin-bottom: 15px"></md-datepicker>-->
                  <md-input-container>
                    <md-select ng-model="vm.buildingComparison.Month" placeholder="{{'BUILDING_COMPARISONS.SELECT_A_MONTH'|translate}}" aria-label="select" required>
                      <md-option ng-value="month" ng-repeat="month in vm.months" ng-selected="$first">{{ month }}</md-option>
                    </md-select>
                  </md-input-container>
                </div>
              </md-list-item>
              <md-divider ></md-divider>
              <md-list-item >
                <h3 flex="15"><b>{{'BUILDING_COMPARISONS.COMPARISON_CONTENT'|translate}}:</b></h3>

                <!--<fieldset style="border: hidden">
                  <div layout="row" layout-align="start center" >
                      <div layout="column" >
                        <md-checkbox ng-repeat="content in vm.comparisonContents" ng-if="$index <3" ng-click="vm.toggle(content)"> <h3>{{content}}</h3> </md-checkbox>
                      </div>
                      <div layout="column" style="margin-left: 40px">
                        <md-checkbox ng-repeat="content in vm.comparisonContents"  ng-if="$index <6 && $index > 2" ng-click="vm.toggle(content)"> <h3>{{content}}</h3> </md-checkbox>
                      </div>
                  </div>
                  <md-checkbox ng-repeat="content in vm.comparisonContents" ng-if="$index==6" ng-click="vm.toggle(content)"> <h3>{{content}}</h3> </md-checkbox>
                </fieldset>-->

                <md-radio-group class="md-list-item-text" ng-model="vm.buildingComparison.ComparisonContent" required>

                  <md-radio-button ng-repeat="content in vm.comparisonContents" value="{{content}}">
                    <!--<h3>{{content}}</h3>-->
                    <div ng-switch="content">
                      <div ng-switch-when="Energy Consumption">
                        <h3>{{'BUILDING_COMPARISONS.ENERGY_CONSUMPTION'|translate}}</h3>
                      </div>
                      <div ng-switch-when="Energy Generation">
                        <h3>{{'BUILDING_COMPARISONS.ENERGY_GENERATION'|translate}}</h3>
                      </div>
                      <div ng-switch-when="Net Energy Use">
                        <h3>{{'BUILDING_COMPARISONS.NET_ENERGY_USE'|translate}}</h3>
                      </div>
                      <div ng-switch-when="Greenhouse Gas Emission">
                        <h3>{{'BUILDING_COMPARISONS.GREENHOUSE_GAS_EMISSION'|translate}}</h3>
                      </div>
                    </div>

                  </md-radio-button>

                </md-radio-group>

              </md-list-item>
              <md-divider ></md-divider>
              <md-list-item >
                <h3 flex="15"><b>{{'BUILDING_COMPARISONS.COMPARISON_MODE'|translate}}:</b></h3>

                <md-radio-group class="md-list-item-text" ng-model="vm.buildingComparison.ComparisonMode" required>

                  <!--<md-radio-button value="All" style="margin-top: 10px"><h3>All</h3></md-radio-button>-->
                  <!--<md-radio-button ng-repeat="mode in vm.comparisonModes" value="{{mode}}" > <h3>{{mode}}</h3> </md-radio-button>-->
                  <!--<md-radio-button value="Per Square Meter"><h3>Per Square Meter</h3></md-radio-button>-->
                  <md-radio-button value="Per Person"><h3>{{'BUILDING_COMPARISONS.PER_PERSON'|translate}}</h3></md-radio-button>
                  <md-radio-button value="Per Square Meter" style=" margin-top: -20px"><h3>{{'BUILDING_COMPARISONS.PER_SQUARE_METER'|translate}}</h3></md-radio-button>

                </md-radio-group>

              </md-list-item>
              <md-divider ></md-divider>
              <md-list-item style="margin-top: 10px">
                <h3 flex="15"><b>{{'BUILDING_COMPARISONS.COMMUNITY'|translate}}:</b></h3>

                <md-input-container class="md-list-item-text">

                  <md-select ng-model="vm.buildingComparison.Community" aria-label="select" required>
                    <md-option ng-repeat="community in vm.communities" ng-selected="$first">{{community.name}}</md-option>
                    <!--<md-option>{{community.name}}</md-option>
                    <md-option>{{community.name}}</md-option>-->
                  </md-select>
                </md-input-container>

              </md-list-item>
              <md-list-item style="margin-top: 15px">
               <md-button class="md-accent md-raised" ng-click="vm.calculate()" ng-disabled="buildingComparisonForm.$invalid ||  vm.buildingComparison.ComparisonContents.length==0">{{'BUILDING_COMPARISONS.GENERATE_COMPARISON_REPORT'|translate}}</md-button>

              </md-list-item>
            </md-list>
            </form>
          </md-content>

        </md-tab>
      </md-tabs>



    </div>

  </div>



</div>
<script src="assets/lib/jquery.simpleWeather.js"></script>
<script src="assets/lib/weather.js"></script>


<script type="text/javascript">

</script>

<style>

</style>
