.search {
  position: relative;
  padding-left: 4px;
  max-width: 200px;

  .search-icon {
    margin: 0 -4px 0 0;
  }

  .search-input {
    margin: 0 0 0 10px;
    background: none;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    color: #A9A9A9;
    border-bottom: 2px solid rgba(169,169,169, 0.3);
    transition: border-color 300ms ease;

    &:focus {
      border-color: rgba(169,169,169, 1);
    }

    &::-webkit-input-placeholder {
      color: rgba(169,169,169, 0.5);
    }
  }
}
